.abc h3{
             text-align: center;
             color:red;
}
.sahu h1{
             text-align: center;
}


.main{
    justify-content: space-evenly;
    align-items: center; 
    display: flex;  
}
.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:30vw;
    justify-content: center;
    align-items: center; 
    display: flex;

}
 .img {
              -border: 1px solid black;
              width:300px;
              margin:5px;
              text-align: center;
 }
 .text{
          -border:1px solid black;
          width:300px;
          height: 250px;
              margin    :5px;
              text-align: center;
 }
 .icons i{

            -border: 1px solid black;
            margin:15px;
            font-size:30px;
            color: orangered;
 }
  .img2{
            width:300px
  }
  .name h1{
            text-align: center;     
  }
  .name p{
              text-align: center;
              color:orange;
  }